{% extends '_layouts/cp.twig' %}
{% set selectedSubnavItem = 'authors' %}
{% import '_includes/forms.twig' as forms %}
{% set title = author.id ? author.title : 'authors.edit.new.author.text'|t('beacon') %}
{% set fullPageForm = true %}
{% set crumbs = [
    { label: 'nav.beacon'|t('beacon'), url: cpUrl('beacon') },
    { label: 'nav.authors'|t('beacon'), url: cpUrl('beacon/authors') },
] %}

{% block content %}
    <input type="hidden" name="action" value="beacon/authors/save">
    <input type="hidden" name="authorId" value="{{ author.id }}">
    {{ redirectInput('beacon/authors') }}
    {{ csrfInput() }}

    {{ forms.textField({
        label: 'authors.edit.title.label'|t('beacon'),
        id: 'title',
        name: 'title',
        value: author.title,
        required: true,
        first: true,
    }) }}

    {{ forms.textField({
        label: 'authors.edit.jobTitle.label'|t('beacon'),
        id: 'jobTitle',
        name: 'jobTitle',
        value: author.jobTitle,
    }) }}

    {{ forms.textareaField({
        label: 'authors.edit.description.label'|t('beacon'),
        instructions: 'authors.edit.description.instructions'|t('beacon'),
        id: 'description',
        name: 'description',
        value: author.description,
        rows: 3,
        maxlength: 2000,
    }) }}

    {{ forms.elementSelectField({
        label: 'authors.edit.imageAssetId.label'|t('beacon'),
        instructions: 'authors.edit.imageAssetId.instructions'|t('beacon'),
        id: 'imageAssetId',
        name: 'imageAssetId',
        elementType: 'craft\\elements\\Asset',
        selectionLabel: 'authors.edit.choose.headshot.text'|t('beacon'),
        limit: 1,
        elements: author.imageAssetId ? [craft.app.elements.getElementById(author.imageAssetId)] : [],
    }) }}

    <hr>

    <h2 class="heading">{{ 'authors.edit.e.e.t.signals.heading'|t('beacon') }}</h2>
    <p class="light">{{ 'authors.edit.one.entry.per.line.each.text'|t('beacon') }}</p>

    {{ forms.textareaField({
        label: 'authors.edit.expertise.label'|t('beacon'),
        instructions: 'authors.edit.expertise.instructions'|t('beacon'),
        id: 'expertise',
        name: 'expertise',
        value: author.expertise|join("\n"),
        rows: 4,
        placeholder: 'authors.edit.expertise.placeholder'|t('beacon'),
    }) }}

    {{ forms.textareaField({
        label: 'authors.edit.credentials.label'|t('beacon'),
        instructions: 'authors.edit.credentials.instructions'|t('beacon'),
        id: 'credentials',
        name: 'credentials',
        value: author.credentials|join("\n"),
        rows: 4,
        placeholder: 'authors.edit.credentials.placeholder'|t('beacon'),
    }) }}

    {{ forms.textareaField({
        label: 'authors.edit.sameAs.label'|t('beacon'),
        instructions: 'authors.edit.sameAs.instructions'|t('beacon'),
        id: 'sameAs',
        name: 'sameAs',
        value: author.sameAs|join("\n"),
        rows: 4,
        placeholder: 'authors.edit.sameAs.placeholder'|t('beacon'),
    }) }}

    <hr>

    <h2 class="heading">{{ 'authors.edit.org.references.heading'|t('beacon') }}</h2>

    {{ forms.textareaField({
        label: 'authors.edit.affiliation.label'|t('beacon'),
        instructions: 'authors.edit.affiliation.instructions'|t('beacon'),
        id: 'affiliation',
        name: 'affiliation',
        value: author.affiliation|join("\n"),
        rows: 3,
    }) }}

    {{ forms.textareaField({
        label: 'authors.edit.worksFor.label'|t('beacon'),
        instructions: 'authors.edit.worksFor.instructions'|t('beacon'),
        id: 'worksFor',
        name: 'worksFor',
        value: author.worksFor|join("\n"),
        rows: 3,
    }) }}

    {{ forms.textareaField({
        label: 'authors.edit.alumniOf.label'|t('beacon'),
        instructions: 'authors.edit.alumniOf.instructions'|t('beacon'),
        id: 'alumniOf',
        name: 'alumniOf',
        value: author.alumniOf|join("\n"),
        rows: 3,
    }) }}
{% endblock %}
