{% import "_includes/forms.twig" as forms %}

<h2 class="heading first">{{ 'settings.general.general.defaults.heading'|t('beacon') }}</h2>
<p class="light">{{ 'settings.general.global.title.description.fallbacks.used.text'|t('beacon') }}</p>
<hr>

{{ forms.textField({
    label: 'settings.general.titleTemplate.label'|t('beacon'),
    instructions: 'settings.general.titleTemplate.instructions'|t('beacon'),
    name: 'titleTemplate',
    value: settings.titleTemplate,
    first: true,
}) }}

{{ forms.textareaField({
    label: 'settings.general.descriptionTemplate.label'|t('beacon'),
    instructions: 'settings.general.descriptionTemplate.instructions'|t('beacon'),
    name: 'descriptionTemplate',
    value: settings.descriptionTemplate,
    rows: 2,
}) }}

<hr>

<h2 class="heading">{{ 'settings.general.default.social.image.heading'|t('beacon') }}</h2>
<p class="light">{{ 'settings.general.fallback.open.graph.twitter.image.text'|t('beacon') }}</p>

{% set defaultSocialImage = settings.defaultSocialImageId
    ? craft.assets().id(settings.defaultSocialImageId).status(null).one()
    : null %}
{{ forms.elementSelectField({
    label: 'settings.general.defaultSocialImageId.label'|t('beacon'),
    instructions: 'settings.general.defaultSocialImageId.instructions'|t('beacon'),
    id: 'defaultSocialImageId',
    name: 'defaultSocialImageId',
    elementType: 'craft\\elements\\Asset',
    elements: defaultSocialImage ? [defaultSocialImage] : [],
    limit: 1,
    viewMode: 'large',
    criteria: { kind: 'image' },
}) }}
