{% import "_includes/forms.twig" as forms %}

{% set advanced = settings.identityAdvanced %}
{% set primarySiteName = craft.app.sites.primarySite.name %}

<h2 class="heading first">{{ 'settings.organization.organization.identity.heading'|t('beacon') }}</h2>
<p class="light">{{ 'settings.organization.drives.global.json.ld.identity.text'|t('beacon') }}</p>
<hr>

{{ forms.selectField({
    label: 'settings.organization.identityType.label'|t('beacon'),
    instructions: 'settings.organization.identityType.instructions'|t('beacon'),
    id: 'beacon-identity-type',
    name: 'identityType',
    value: settings.identityType,
    options: identityTypeOptions,
}) }}

{{ forms.textField({
    label: 'settings.organization.organizationName.label'|t('beacon'),
    instructions: 'settings.organization.organizationName.instructions'|t('beacon'),
    name: 'organizationName',
    value: settings.organizationName ?? '',
    placeholder: primarySiteName,
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.alternateName..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.alternateName..instructions'|t('beacon'),
    name: 'identityAdvanced[alternateName]',
    value: advanced.alternateName ?? '',
}) }}

{{ forms.textareaField({
    label: 'settings.organization.identityAdvanced.description..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.description..instructions'|t('beacon'),
    name: 'identityAdvanced[description]',
    value: advanced.description ?? '',
    rows: 2,
}) }}

{{ forms.elementSelectField({
    label: 'settings.organization.organizationLogoAssetId.label'|t('beacon'),
    instructions: 'settings.organization.organizationLogoAssetId.instructions'|t('beacon'),
    name: 'organizationLogoAssetId',
    elementType: 'craft\\elements\\Asset',
    selectionLabel: 'settings.organization.choose.logo.text'|t('beacon'),
    limit: 1,
    elements: settings.organizationLogoAssetId ? [craft.app.elements.getElementById(settings.organizationLogoAssetId)] : [],
}) }}

{{ forms.elementSelectField({
    label: 'settings.organization.organizationImageAssetId.label'|t('beacon'),
    instructions: 'settings.organization.organizationImageAssetId.instructions'|t('beacon'),
    name: 'organizationImageAssetId',
    elementType: 'craft\\elements\\Asset',
    selectionLabel: 'settings.organization.choose.image.text'|t('beacon'),
    limit: 1,
    elements: settings.organizationImageAssetId ? [craft.app.elements.getElementById(settings.organizationImageAssetId)] : [],
}) }}

<hr>

<h2 class="heading">{{ 'settings.organization.contact.heading'|t('beacon') }}</h2>

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.email..label'|t('beacon'),
    name: 'identityAdvanced[email]',
    value: advanced.email ?? '',
    type: 'email',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.telephone..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.telephone..instructions'|t('beacon'),
    name: 'identityAdvanced[telephone]',
    value: advanced.telephone ?? '',
}) }}

<hr>

<h2 class="heading">{{ 'settings.organization.postal.address.heading'|t('beacon') }}</h2>
<p class="light">{{ 'settings.organization.all.five.fields.render.as.text'|t('beacon') }}</p>

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.streetAddress..label'|t('beacon'),
    name: 'identityAdvanced[streetAddress]',
    value: advanced.streetAddress ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.addressLocality..label'|t('beacon'),
    name: 'identityAdvanced[addressLocality]',
    value: advanced.addressLocality ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.addressRegion..label'|t('beacon'),
    name: 'identityAdvanced[addressRegion]',
    value: advanced.addressRegion ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.postalCode..label'|t('beacon'),
    name: 'identityAdvanced[postalCode]',
    value: advanced.postalCode ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.addressCountry..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.addressCountry..instructions'|t('beacon'),
    name: 'identityAdvanced[addressCountry]',
    value: advanced.addressCountry ?? '',
}) }}

<hr>

<h2 class="heading">{{ 'settings.organization.geo.coordinates.heading'|t('beacon') }}</h2>
<p class="light">{{ 'settings.organization.optional.only.emitted.both.lat.text'|t('beacon') }}</p>

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.geoLatitude..label'|t('beacon'),
    name: 'identityAdvanced[geoLatitude]',
    value: advanced.geoLatitude ?? '',
    placeholder: '47.376888',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.geoLongitude..label'|t('beacon'),
    name: 'identityAdvanced[geoLongitude]',
    value: advanced.geoLongitude ?? '',
    placeholder: '8.541694',
}) }}

<div class="beacon-identity-org-only">
<hr>

<h2 class="heading">{{ 'settings.organization.founding.heading'|t('beacon') }} <span class="light">({{ 'settings.organization.organization.only.text'|t('beacon') }})</span></h2>

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.foundingDate..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.foundingDate..instructions'|t('beacon'),
    name: 'identityAdvanced[foundingDate]',
    value: advanced.foundingDate ?? '',
    placeholder: '1999-04-23',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.foundingLocation..label'|t('beacon'),
    name: 'identityAdvanced[foundingLocation]',
    value: advanced.foundingLocation ?? '',
}) }}

{{ forms.textareaField({
    label: 'settings.organization.identityAdvanced.founder..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.founder..instructions'|t('beacon'),
    name: 'identityAdvanced[founder]',
    value: (advanced.founder ?? '') is iterable ? (advanced.founder ?? '')|join("\n") : (advanced.founder ?? ''),
    rows: 3,
}) }}

<hr>

<h2 class="heading">{{ 'settings.organization.contact.point.heading'|t('beacon') }} <span class="light">({{ 'settings.organization.organization.only.text'|t('beacon') }})</span></h2>
<p class="light">{{ 'settings.organization.adds.contactpoint.node.useful.customer.text'|t('beacon') }}</p>

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.contactType..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.contactType..instructions'|t('beacon'),
    name: 'identityAdvanced[contactType]',
    value: advanced.contactType ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.contactEmail..label'|t('beacon'),
    name: 'identityAdvanced[contactEmail]',
    value: advanced.contactEmail ?? '',
    type: 'email',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.contactTelephone..label'|t('beacon'),
    name: 'identityAdvanced[contactTelephone]',
    value: advanced.contactTelephone ?? '',
}) }}

</div>

<div class="beacon-identity-person-only">
<hr>

<h2 class="heading">{{ 'settings.organization.person.details.heading'|t('beacon') }} <span class="light">({{ 'settings.organization.person.only.text'|t('beacon') }})</span></h2>

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.givenName..label'|t('beacon'),
    name: 'identityAdvanced[givenName]',
    value: advanced.givenName ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.familyName..label'|t('beacon'),
    name: 'identityAdvanced[familyName]',
    value: advanced.familyName ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.jobTitle..label'|t('beacon'),
    name: 'identityAdvanced[jobTitle]',
    value: advanced.jobTitle ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.birthPlace..label'|t('beacon'),
    name: 'identityAdvanced[birthPlace]',
    value: advanced.birthPlace ?? '',
}) }}

</div>

<hr>

<h2 class="heading">{{ 'settings.organization.legal.heading'|t('beacon') }}</h2>

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.legalName..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.legalName..instructions'|t('beacon'),
    name: 'identityAdvanced[legalName]',
    value: advanced.legalName ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.taxID..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.taxID..instructions'|t('beacon'),
    name: 'identityAdvanced[taxID]',
    value: advanced.taxID ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.naics..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.naics..instructions'|t('beacon'),
    name: 'identityAdvanced[naics]',
    value: advanced.naics ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.duns..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.duns..instructions'|t('beacon'),
    name: 'identityAdvanced[duns]',
    value: advanced.duns ?? '',
}) }}

{{ forms.textField({
    label: 'settings.organization.identityAdvanced.iso6523Code..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.iso6523Code..instructions'|t('beacon'),
    name: 'identityAdvanced[iso6523Code]',
    value: advanced.iso6523Code ?? '',
}) }}

<hr>

<h2 class="heading">{{ 'settings.organization.topics.languages.heading'|t('beacon') }}</h2>

{{ forms.textareaField({
    label: 'settings.organization.identityAdvanced.knowsAbout..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.knowsAbout..instructions'|t('beacon'),
    name: 'identityAdvanced[knowsAbout]',
    value: (advanced.knowsAbout ?? [])|join("\n"),
    rows: 4,
}) }}

{{ forms.textareaField({
    label: 'settings.organization.identityAdvanced.knowsLanguage..label'|t('beacon'),
    instructions: 'settings.organization.identityAdvanced.knowsLanguage..instructions'|t('beacon'),
    name: 'identityAdvanced[knowsLanguage]',
    value: (advanced.knowsLanguage ?? [])|join("\n"),
    rows: 3,
}) }}
